attrs==20.2.0
Automat==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
constantly==15.1.0
decorator==4.4.2
httplib2==0.18.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
lxml==4.5.2
PyHamcrest==2.0.2
pyTelegramBotAPI==3.7.3
requests==2.7.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
validators==0.18.1
zope.interface==5.1.0
